body {
    text-align: center;
}

/* One value */
p.one {
    border-style: dotted;
}

/* Two values */
p.two {
    border-style: dotted solid;
}

/* Three values */
p.three {
    border-style: dotted solid double;
}

/* Four values */
p.four {
    border-style: dotted solid double dashed;
}

p.five {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;

    border-top-color: red;
    border-right-color: rgb(4, 0, 255);
    border-left-color: rgb(0, 255, 17);
    border-bottom-color: rgb(255, 0, 191);

    border-top-width: 2px;
    border-right-width: 6px;
    border-left-width: 4px;
    border-bottom-width: 8px;
}

p.six {
    border-style: dashed solid double;
    border-color: red purple aqua;
    border-width: 2px 5px 4px;
}