div {
    height: 200px;
    width: 200px;
    background-color: #ff0000b6;    
    /* background-color: rgba(255, 0, 0, 0.712); */
}

#opacity {
    background-color: #ffa511;    
    opacity: 0.5;
}
