div {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid rgb(12, 196, 243);
    padding: 50px;
    margin: 20px;
}

p{
    background-color: #eaaeae;
}
p.one {
    width: 500px;
    border: 5px solid orange;
    padding: 50px;
    margin: 50px;
}

p.two {
    width: 500px;
    border: 5px solid rgb(225, 23, 23);
    padding: 50px;
    margin: 50px;
}

p.three {
    width: 500px;
    border: 5px solid green;
    padding: 50px;
    margin: 50px;
}