div.one {
    margin: 25px;
    background-color: lightblue;
}

div.two {
    margin: 50px 80px;
    background-color: lightblue;
}

div.three {
    border: 1px solid black;
    margin: 25px 50px 75px;
    background-color: lightblue;
}

div.four {
    border: 1px solid black;
    margin: 25px 50px 75px 100px;
    background-color: lightblue;
}