div {
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    border: 5px solid black;
    /* border-left: 5px dotted rgb(56, 8, 250);
    border-top-color: yellow; */
    border-radius: 10px;
    /* border-top-right-radius: 50px; */

    padding-top: 10px;
    
    /* margin-bottom: 25px;
    margin-left: 20px; */
    margin: 10px 20px 30px 40px;
}


h1 {
    border: 2px dashed green;
    /* border-top-style: double;
    border-top-color: rgb(252, 12, 252); */
    margin: 0;
}

button {
    border: 2px solid black;
    border-radius: 15px;

    /* padding-left: 25px;
    padding-right: 25px; */
    /* padding: 25px; */
    /* padding: 10px 25px; */
    /* padding: 10px 20px 30px; */
    padding: 10px 30px 10px 30px;
    font-size: 25px;
    font-weight: 600;

    margin-left: 40px;

    background-color: yellow;
}