h1 {
    color: pink;
}

#greet {
    color: red;
}

.myClass {
    color: yellow;
}


div p {
    background-color: black;
}

.para {
    background-color: blue;
}

p {
    background-color: green;
}


div.greetDiv .greetPara {
    color: aqua;
}

.greetDiv h2.greetPara {
    color: rgb(103, 34, 198);
}

.greetDiv .greetPara {
    color: chartreuse;
}

