#container {
    height: 400px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;

    display: flex;

    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    justify-content: flex-start;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

    flex-wrap: nowrap;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */

    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: space-evenly; */
    align-content: baseline;
}

h1 {
    text-align: center;
}

#container div {
    height: 100px;
    width: 80px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

#red {
    background-color: #ff0000;
    flex-basis: 50px;
}

#orange {
    background-color: #ffa500;
    /* align-self: flex-start; */
    /* align-self: flex-end; */
    /* align-self: center; */
    align-self: baseline;
    flex-shrink: 1;
}

#yellow {
    background-color: #ffff00;
    font-size: 2em;
    flex-basis: 200px;
}

#green {
    background-color: #008000;
    align-self: center;
}

#blue {
    background-color: #0000ff;
    flex-grow: 2;
    max-width: 300px;
}

#indigo {
    background-color: #4b0082;
    flex-grow: 1;
}

#violet {
    background-color: #ee82ee;
    flex-shrink: 2;
}
