h1 {
    border: 2px solid rgb(48, 240, 9);
    width: 33.33%;
}

#outer {
    height: 400px;
    width: 400px;
    background-color: pink;
    margin: 50px;
}

#inner {
    height: 50%;
    width: 50%;
    background-color: rgb(53, 142, 169);
    margin-left: 10%;   /* 400/10 = 40px*/
}

#outerDiv {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: rgb(208, 235, 118);
    font-size: 10px;
}
#firstInnerDiv {
    height: 100px;
    width: 100px;
    border: 2px solid rgb(28, 251, 3);
    background-color: rgb(235, 200, 29);
}

#secondInnerDiv {
    height: 100px;
    width: 100px;
    border: 2px solid rgb(231, 24, 24);
    background-color: cornflowerblue;
    font-size: 2em;
    padding: 1em;   /* relative to its font-size - 20px */
}

#thirdInnerDiv {
    height: 100px;
    width: 100px;
    border: 2px solid rgb(0, 13, 249);
    background-color: rgb(165, 62, 221);
    font-size: 2rem;
}

button {
    margin-top: 10px;
    font-size: 50px;
    border: 2px solid green;
    background-color: #7c7979;
    border-radius: 20px;
    padding: 0 0.5em;
}
