div {
    width: 800px;
    height: 400px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url("https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80");
    /* background-size: contain; */
    /* background-size: cover; */
    background-size: auto;
    color: white;
    font-size: 40px;
}
