div {
    height: 100px;
    width: 100px;
    background-color: rgb(11, 255, 11);   
    /* transition-property: background-color border-radius;
    transition-duration: 2s;
    transition-timing-function: linear; 
    transition-timing-function: ease-in;
    transition-delay: 1s; */

    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
}

div:hover {
    /* background-color: black;
    border-radius: 50%; */
    
    margin-top: 400px;
    background-color: pink;
}
