section {
    margin-top: 100px;
}

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type(2n) {
    background-color: #f7db6a;
}

div:nth-of-type(3n) {
    background-color: #c6ed01;
}

/* transform: rotate */
#one {
    transform: rotate(45deg);
    /* transform: rotate(-45deg); */
    /* transform: rotate(90deg); */
    /* transform: rotate(180deg); */
}

/* transform: scale */
#two {
    /* transform: scale(0.5); */
    /* transform: scale(2); */
    /* transform: scale(0.5, 2); */
    /* transform: scale(2, 0.5); */
    transform: scaleX(2);
    transform: scaleY(1.5);
}

/* transform: translate */
#three {
    /* transform: translate(100px, 100px); */
    /* transform: translateX(100px);
    transform: translateY(100px); */
    transform: translateX(-100px);
}

/* transform: skew */
#four {
    /* transform: skew(30deg); */
    /* transform: skew(-30deg); */
    /* transform: skew(90deg); */
}


#five {
    transform: rotate(30deg) translateX(150px);
}
