button {
  padding: 15px;
  border: 2px solid purple;
  border-radius: 40px;
  width: 250px;
  font-size: 30px;
  font-weight: 700;
  color: rgba(17, 13, 13, 0.868);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.479);
}

p.normal {
  border: 2px solid red;
  padding: 5px;
}

p.round1 {
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}

p.round2 {
  border: 2px solid red;
  border-radius: 8px;
  padding: 5px;
}

p.round3 {
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
}

p.one {
  border: 2px solid rgb(7, 247, 55);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}

p.two {
  border: 2px solid rgb(36, 5, 239);
  border-bottom-right-radius: 20px;
  padding: 5px;
}

p.three {
  border: 2px solid rgb(239, 2, 172);
  border-bottom-left-radius: 20px;
  padding: 5px;
}