* {
    text-align: center;
}

#mainTopic {
    color: blue;
}

h1, h3, h5 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    background-color: cornflowerblue;
    color: white;
}

div p {
    columns: azure;
    background-color: purple;
}

button:hover {
    columns: blue;
    background-color: yellow;
}

p:nth-of-type(odd) {
    color: yellow;
}

h1::first-letter {
    color: red;
}

#yes:checked + label {
    color: darkgreen;
}
